/* FONT */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"); */

.font-slab {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}
/* Global Style */
* {
  font-family: "Roboto";
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Helvetica"), url(/fonts/Helvetica.ttf) format("ttf");
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: medium;
  font-style: normal;
}
.font-helvetica {
  font-family: "Helvetica";
}
.font-roboto-medium {
  font-family: "Roboto-Medium";
  font-style: medium;
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  .rec.rec-arrow {
    display: none;
  }
}
* { min-height: 0; min-width: 0; }
/* React Carousel */
.rec.rec-arrow {
  outline: none;
  border: none;
  color: #317c9e;
  background: none;
  box-shadow: none;
}
.rec.rec-arrow:hover:enabled {
  outline: none;
  border: none;
  color: white;
  background-color: #317c9e;
  box-shadow: none;
}

.background-nav {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #113c6d;
  mix-blend-mode: normal;
  opacity: 0.9;
  backdrop-filter: blur(8px);
  border-radius: 5px 5px 5px 5px;
}
.gradient-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #113c6d;
}
.mobile-nav {
  background: linear-gradient(180deg, #12306E 0%, #13508D 100%);
}
.mobile-nav-dropdown {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #113c6d;
  opacity: 0.9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mobile-bg-blue {
  background: 'transparent';
}

@media screen and (max-width: 480px) {
  .mobile-bg-blue {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #113c6d;
}
.slick-list {
  height: 30px !important;
}
}
.slick-list {
  height: auto !important;
  
}
.ant-carousel .slick-dots li button {
  margin-top: 25px;
    /* display: block;
    width: 100%;
    height: 3px;
    padding: 0; */
    color: #4ACFFF !important;
    /* font-size: 0; */
    background: #4ACFFF !important;
    /* border: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.5s; */
}

.slider-container {
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
    height: 100px !important;
}
.slick-slide {
   height:10px;
   
}

.slick-slide img {
   height: auto;
}
